uvicorn[standard]
redis
python-multipart
fastapi
pydantic
python-dotenv
SpeechRecognition==3.10.4
pydub==0.25.1
ffmpeg
transformers==4.29.2  # Compatible version of Hugging Face Transformers
onnxruntime==1.14.1  # ONNX Runtime for inference
numpy==1.24.3        # NumPy for tensor manipulation
typing
elasticsearch
jdatetime
aiohttp