<div class="container">
  <app-header></app-header>
  <div class="hero">
    <div class="text">
      <h1>Doctor Recommender: Your Personal Doctor Finder</h1>
      <div>
        <p>Find the right doctor for you in seconds,</p>
        <p>Just record your symptoms and we will do the rest!</p>
      </div>
      <button nz-button nzType="primary" nzSize="large" routerLink="/find">
        Find Now
      </button>
    </div>
    <div class="image">
      <img src="landing.svg" alt="landing" />
    </div>
  </div>
</div>
